ion-content::part(scroll) {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* Background pattern from Toptal Subtle Patterns */
  background-image: url(/assets/images/seigaiha.png);
}

img {
  width: 50%;
  max-width: 300px;
  height: auto;
  filter: drop-shadow(0 0 10px var(--shadow-transparent));
  animation: breathe 5s ease-in-out infinite;
}

.login-button {
  position: absolute;
  opacity: 0.2;
  bottom: 5px;
  right: 5px;
}

@keyframes breathe {
  0% {
    transform: scale(1);
    filter: drop-shadow(0 0 5px var(--shadow-transparent));
  }

  50% {
    transform: scale(1.02);
    filter: drop-shadow(0 0 10px var(--shadow-transparent));
  }

  100% {
    transform: scale(1);
    filter: drop-shadow(0 0 5px var(--shadow-transparent));
  }
}
