<ion-header>
  <ion-toolbar>
    <ion-title>Client History</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/clients"
        data-test="view-survey-responses-back-button"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="{ client: client$ | async } as vm">
    <app-survey-list
      *ngIf="vm.client"
      [surveys]="vm.client.survey"
    ></app-survey-list>
  </ng-container>
</ion-content>
