rules_version = '2';
service cloud.firestore {

  match /databases/{database}/documents {

  	match /clients/{client} {
      allow update: if true;
      allow create, read, delete: if isAdmin();
    }

    match /feedback/{feedbackId}{
      allow create: if true;
    }

    match /{document=**} {
      allow read, write: if isAdmin();
    }
  }

  function isAdmin(){
  	return request.auth != null && request.auth.token.email == 'kathryn.morony@gmail.com' && request.auth.token.email_verified;
  }
}