<ion-header>
  <ion-toolbar>
    <ion-title>
      <ng-container *ngIf="client$ | async as client">
        {{client.name.first}} {{client.name.last}}
      </ng-container>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/clients"
        data-test="client-detail-back-button"
      ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        *ngIf="client$ | async as client"
        routerLink="/clients/{{client.id}}/edit"
        routerDirection="forward"
        data-test="edit-button"
      >
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-client-detail-card
    *ngIf="{ client: client$ | async } as vm"
    [client]="vm.client"
  >
  </app-client-detail-card>
</ion-content>
