<ion-header>
  <ion-toolbar>
    <ion-title>
      <ng-container *ngIf="client$ | async as client">
        {{client.name.first}} {{client.name.last}}
      </ng-container>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/clients"
        data-test="client-detail-back-button"
      ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        *ngIf="client$ | async as client"
        routerLink="/clients/{{client.id}}/edit"
        routerDirection="forward"
        data-test="edit-button"
      >
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-client-detail-card
    *ngIf="client$ | async as client; else loading"
    [client]="client"
  >
  </app-client-detail-card>
  <ng-template #loading>
    <ion-card data-test="loading">
      <ion-card-header>
        <ion-card-title>
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item lines="none">
          <ion-icon slot="start" name="mail-outline"></ion-icon>
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-item>

        <ion-item lines="none">
          <ion-icon slot="start" name="call-outline"></ion-icon>
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
