<ion-header>
  <ion-toolbar>
    <ion-title>
      <ng-container *ngIf="{ client: client$ | async } as vm">
        {{ vm.client ? 'Edit Client' : 'Add Client' }}
      </ng-container>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/clients"
        data-test="add-client-back-button"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-client-editor
    *ngIf="clientForm$ | async as clientForm"
    [formGroup]="clientForm"
    (save)="saveClient(clientForm.value)"
  ></app-client-editor>
</ion-content>
