<form [formGroup]="formGroup" (ngSubmit)="save.emit(true)">
  <ion-list inset="true">
    <ng-container formGroupName="name">
      <ion-item>
        <ion-label position="stacked">First Name</ion-label>
        <ion-input
          formControlName="first"
          data-test="first-name-input"
          type="text"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Last Name</ion-label>
        <ion-input
          formControlName="last"
          data-test="last-name-input"
          type="text"
        ></ion-input>
      </ion-item>
    </ng-container>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input
        formControlName="email"
        data-test="email-input"
        type="email"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Phone</ion-label>
      <ion-input
        formControlName="phone"
        data-test="phone-input"
        type="tel"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Notes</ion-label>
      <ion-textarea
        formControlName="notes"
        data-test="notes-input"
      ></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button
    data-test="save-client-button"
    expand="full"
    class="save"
    type="submit"
  >
    Save
    <ion-icon slot="start" name="save-outline"></ion-icon>
  </ion-button>
</form>
