<ion-header>
  <ion-toolbar>
    <ion-title>Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container
    *ngIf="feedbackFormSubmitted$ | async as submission; else jsonForm"
  >
    <p *ngIf="submission === 'success'" data-test="thankyou-message">
      Thank you for your feedback!
    </p>
    <p *ngIf="submission === 'error'" data-test="error-message">
      Sorry, the form could not be submitted!
    </p>
  </ng-container>
  <ng-template #jsonForm>
    <app-json-form
      (save)="save()"
      data-test="feedback-form"
      [formGroup]="feedbackForm"
      [formData]="feedbackFormData"
    ></app-json-form>
  </ng-template>
</ion-content>
