<ion-header>
  <ion-toolbar>
    <ion-title data-test="page-title">Clients</ion-title>
    <ion-buttons slot="end">
      <ion-button
        data-test="add-client-button"
        routerLink="add"
        routerDirection="forward"
      >
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="clientsStore.clients$ | async as clients; else loading">
    <p data-test="no-clients-message" *ngIf="!clients.length">
      No clients. Click the add button to begin!
    </p>
    <app-client-list [clients]="clients"></app-client-list>
  </ng-container>
  <ng-template #loading>
    <div data-test="loading">loading...</div>
  </ng-template>
</ion-content>
