ion-list {
  --ion-item-background: transparent;

  ion-item::part(native) {
    background: var(--ion-color-primary);
    margin-bottom: 1rem;
    height: 60px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px var(--shadow-transparent);
    font-weight: bold;
    color: var(--ion-color-light);
  }
}
