<ion-list lines="none" data-test="list" *ngIf="clients; else loading">
  <p data-test="no-clients-message" *ngIf="!clients.length">
    No clients. Click the add button to begin!
  </p>
  <ion-item
    *ngFor="let client of clients; trackBy: trackByFn"
    button
    routerLink="/clients/{{ client.id }}"
    routerDirection="forward"
  >
    <ion-label>{{ client.name.first }} {{ client.name.last }}</ion-label>
  </ion-item>
</ion-list>
<ng-template #loading>
  <ion-list lines="none" data-test="loading">
    <ion-item>
      <ion-label>
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ng-template>
